.react-svg-zoom-map {
  overflow: hidden;
  width: 40%;
  margin: 3%;
}

.react-svg-zoom-map .map-item-path {
  fill: #f2ede4;
  stroke: #64512d;
  stroke-width: 0.8;
  transition: fill 0.3s;
  cursor: pointer;
}

.react-svg-zoom-map .map-item-path:hover {
  fill: #f2be5c;
}